<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lightcs.mapper.JobMapper">

    <select id="selectCards" resultType="com.lightcs.model.vo.JobCardVO">
        SELECT id,title,job_type,location,
        min_salary,
        max_salary,
        company_name,recruiter_name,create_id,job_desc
        FROM job
        <where>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="title != null and title != ''">
                AND title like CONCAT('%',#{title},'%')
            </if>
            <if test="jobType != null">
                AND job_type = #{jobType}
            </if>
            <if test="location != null and location!=''">
                AND location like #{location}
            </if>
            <if test="minSalary != null">
                AND min_salary &gt;= #{minSalary}
            </if>
            <if test="maxSalary != null">
                AND max_salary &lt;= #{maxSalary}
            </if>
            <if test="ids != null and ids.size>0">
                AND id in
                <foreach collection="ids" item="id" open="(" close=")" separator=",">#{id}</foreach>
            </if>
        </where>
        order by publish_time desc
    </select>
    <select id="detail" resultType="com.lightcs.model.vo.JobDetailVO">
        SELECT id,title,job_type,job_desc,location,company_name,create_id,publish_time,
        min_salary,max_salary
        FROM job
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
        </where>
    </select>
    <select id="selectByUserId" resultType="com.lightcs.model.vo.JobVO">
        SELECT id,title,job_type,location,
        min_salary,
        max_salary,
        recruiter_name,status,job_desc
        FROM job
        <where>
            <if test="createId != null">
                AND create_id = #{createId}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
        </where>
        order by update_time desc
    </select>
</mapper>